apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: cluster
  namespace: argocd
spec:
  description: Project for managing all cluster applications

  sourceRepos:
  - 'https://github.com/mvs5465/local-k8s-argocd'
  - 'https://github.com/mvs5465/local-k8s-apps'
  - 'https://bjw-s.github.io/helm-charts'
  - 'https://charts.external-secrets.io'
  - 'https://twin.github.io/helm-charts'
  - 'https://grafana.github.io/helm-charts'
  - 'https://prometheus-community.github.io/helm-charts'
  - 'https://kubernetes.github.io/ingress-nginx'
  - 'https://jameswynn.github.io/helm-charts'
  - 'https://helm.irsigler.cloud'
  - 'https://jellyfin.github.io/jellyfin-helm'
  - 'https://charts.js.wiki'

  destinations:
  - namespace: 'default'
    server: https://kubernetes.default.svc
  - namespace: 'monitoring'
    server: https://kubernetes.default.svc
  - namespace: 'argocd'
    server: https://kubernetes.default.svc
  - namespace: 'ingress-nginx'
    server: https://kubernetes.default.svc
  - namespace: 'external-secrets'
    server: https://kubernetes.default.svc
  - namespace: 'services'
    server: https://kubernetes.default.svc
  - namespace: 'outline'
    server: https://kubernetes.default.svc

  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
  - group: 'apiextensions.k8s.io'
    kind: CustomResourceDefinition
  - group: 'rbac.authorization.k8s.io'
    kind: ClusterRole
  - group: 'rbac.authorization.k8s.io'
    kind: ClusterRoleBinding
  - group: 'admissionregistration.k8s.io'
    kind: ValidatingWebhookConfiguration
  - group: 'networking.k8s.io'
    kind: IngressClass
