apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: cluster
  namespace: argocd
spec:
  description: Project for managing all cluster applications

  # Source repositories (where apps can pull from)
  sourceRepos:
  - 'https://github.com/mvs5465/local-k8s-argocd'  # This repo
  - 'https://grafana.github.io/helm-charts'         # External Helm repos
  - 'https://prometheus-community.github.io/helm-charts'

  # Destinations (namespaces/clusters where apps can deploy)
  destinations:
  - namespace: 'default'
    server: https://kubernetes.default.svc
  - namespace: 'monitoring'
    server: https://kubernetes.default.svc
  - namespace: 'argocd'
    server: https://kubernetes.default.svc

  # Cluster resources allowed
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace

  # Deny certain resources (optional)
  clusterResourceBlacklist:
  - group: ''
    kind: ResourceQuota
  - group: ''
    kind: LimitRange
